.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
.menu__item:last-child{
  margin-right: 0;
}
.menu__item--active {
  color: #dfb56d;
}
.menu__link {
  font-size: 14px;
  text-decoration: none;
}
.menu__link:hover {
  color: #dfb56d;
}